@import "tailwindcss";

@theme inline {
  --font-sans: var(--proxima-nova);
  --font-display: var(--lonear);
  --color-dark: #3d3d3d;
  --color-primary: #f2d38a;
  --color-dark-primary: #c6ac73;
}

@media screen and (max-width: 800px) {
  .clip-menu {
    clip-path: inset(100% 0% 0% 0%);
    pointer-events: none;
  }
}

@media screen and (min-width: 799px) {
  body::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  body::-webkit-scrollbar-track {
    background: #feeecb;
  }

  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #f2d38a;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    background: #feeecb;
  }

  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #f2d38a;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
